<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body class="container"></body>
        <div id="form">
            <p>Enter your new account information</p>
            <hr/>
            <form action="/signup/newaccount" method="post">
            <div class="form-group">
                <label for="form_mail">Mail</label>
                <input id="form_mail" type="text" name="mail" />
            </div>
            <div class="form-group">
                <label for="form_username">Username</label>
                <input id="form_username" type="text" name="username" />
            </div>
            <div class="form-group">
                <label for="form_password">Password</label>
                <input id="form_password" type="password" name="password" />
            </div>
            <button class="btn btn-success btn-block" id="new-account" type="submit" value="submit" href="/signup/newaccount">
                Create an account
            </button>
            </form>
            <hr/>
        </div>
    </body>
</html>